{% extends "search.html" %}

{% set history = add_base.5 %}
{% set page_itm = 3 %}
{% set arr_chnk = ArrChunkAll(srch, page_itm) %}
{% set arr_cnt = arr_chnk|length - 1 %}
{% set cur_page = add_base.7.arrCh  %}
{% set pgn = 'search' %}
{% set href = '/pages/search.php' %}

{% block srch %}

<div class="container">
  <section class="lots">
    <h2>Результаты поиска по запросу «<span> {{srch_name}} </span>»</h2>
    <ul class="lots__list">
      {% include "include/gods_lots_history.html" %}
</div>

{% endblock %}
