<main>
  <nav class="nav">
    <ul class="nav__list container">
      {% block categories %}
      {% include "include/categories.html" %}
      {% endblock %}
    </ul>
  </nav>
  <div class="container">
    <section class="lots">
      <h2>Все лоты в категории <span>
          "{{add_base.7.ctg}}"
        </span></h2>
      <ul class="lots__list">
        {% block lots %}
        {% endblock %}
        <footer class="main-footer">
          <nav class="nav">
            <ul class="nav__list container">
              {% block categories_footer %}
              {% include "include/categories.html" %}
              {% endblock %}
            </ul>
          </nav>
