{% block header %}
{% include "include/header.html" %}
{% endblock %}

{% block add_header %}
{% include "include/add_header.html" %}
{% endblock %}

<main>
  <nav class="nav">
    <ul class="nav__list container">
      {% block categories %}
      {% endblock %}
    </ul>
  </nav>
  <section class="lot-item container">
    {% block lot %}
    {% endblock %}
  </section>
</main>

<footer class="main-footer">
  <nav class="nav">
    <ul class="nav__list container">
      {% block categories_footer %}
      {% include "/include/categories.html" %}
      {% endblock %}
    </ul>
  </nav>
  {% block main_footer_bottom %}
  {% include "include/main_footer_bottom.html" %}
  {% endblock %}

</footer>

</body>

</html>
