<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">

        <main>
            <nav class="nav">
                <ul class="nav__list container">
                    {% include "include/categories.html" %}
                </ul>
            </nav>
            <form action="../pages/signUp_worked.php" class="form container" enctype="multipart/form-data" method="POST">

                <h2>Регистрация нового аккаунта</h2>
                <div class="form__item">
                    <label for="email">E-mail*</label>
                    <input id="email" name="email" placeholder="Введите e-mail" required type="text">
                    <span class="form__error">Введите e-mail</span>
                </div>
                <div class="form__item">
                    <label for="name">Имя*</label>
                    <input id="name" name="name" placeholder="Введите имя" required type="text">
                    <span class="form__error">Введите имя</span>
                </div>
                <div class="form__item">
                    <label for="password">Пароль*</label>
                    <input id="password" name="password" placeholder="Введите пароль" required type="text">
                    <span class="form__error">Введите пароль</span>
                </div>
                <div class="form__item form__item--file form__item--last">
                    <div class="form__input-file">
                        <input accept="image/*" class="visually-hidden" id="photo2" name="image[]" type="file">
                        <label for="photo2">
                            <span>+ Добавить аватар</span>
                        </label>
                    </div>
                </div>
                <button class="button" type="submit">Зарегистрироваться</button>
                <a class="text-link" href="/pages/login.php">Уже есть аккаунт</a>
            </form>
        </main>

        <footer class="main-footer">
            <nav class="nav">
                <ul class="nav__list container">
                    {% include "include/categories.html" %}
                </ul>
            </nav>
